<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hs.mapper.NewsMapper">
    <resultMap id="NewsResultMap" type="News">
        <result property="news_id" column="news_id"/>
        <result property="comment_id" column="comment_id"/>
        <result property="comment" column="comment"/>
        <result property="location" column="location"/>
        <result property="time" column="comment_time"/>
        <result property="confidence" column="confidence"/>
        <result property="positive" column="positive"/>
        <result property="negative" column="negative"/>
        <result property="type" column="type"/>
        <result property="lat" column="lat"/>
        <result property="lon" column="lon"/>
    </resultMap>
    <resultMap id="ChartResultMap" type="Chart">
        <result property="province" column="province"/>
        <result property="coldNum" column="cold"/>
        <result property="warmNum" column="warm"/>
        <result property="summary" column="summary"/>
    </resultMap>
    <resultMap id="WordCloudResultMap" type="WordCloud">
        <result property="top_count" column="top_count"/>
        <result property="news_id" column="news_id"/>
        <result property="title" column="title"/>
        <result property="news_url" column="news_url"/>
        <result property="comment_url" column="comment_url"/>
        <result property="publish_time" column="publish_time"/>
    </resultMap>
    <select id="getProvinceNews" resultMap="NewsResultMap">
        select * from public.comment where province=#{province} limit 5
    </select>
    <select id="getHotNews" resultMap="WordCloudResultMap">
        SELECT * FROM public.source
        ORDER BY top_count DESC
        LIMIT 50 offset 0
    </select>
    <select id="getNews" resultMap="NewsResultMap">
        select * from public.comment limit 2000
    </select>
    <select id="getNewsUrl" resultType="String">
        select news_url from public.source where news_id=#{news_id}
    </select>

    <select id="getTenNews" resultMap="NewsResultMap">
        select * from public.comment limit 40
    </select>
    <select id="getCount" resultType="Integer">
        select count(*) from public.comment
    </select>

    <select id="getColdNews" resultMap="NewsResultMap">
        select * from public.comment where type=-1 limit 1000
    </select>

    <select id="getWarmNews" resultMap="NewsResultMap">
        select * from public.comment where type=1 limit 1000
    </select>

    <insert id="addData" parameterType="map">
        INSERT INTO public.comment (news_id, comment,location,comment_time,confidence,positive,negative,type,lat,lon)
        VALUES
        (#{news_id},#{comment},#{location},#{time},#{confidence},#{positive},#{negative},#{type},#{lat},#{lon})
    </insert>

    <delete id="deleteData" parameterType="int">
        DELETE FROM public.comment WHERE comment_id=#{comment_id}
    </delete>

    <select id="queryChartData" resultMap="ChartResultMap">
        select province,count(province) as summary, sum(case when type = 1 then 1 else '0' end) as warm,
        sum(case when type = -1 then 1 else '0' end) as cold from public.comment group by province
    </select>


</mapper>